@model Payroll.Src.Dto.SalarySheetDto
@{
    decimal? _advsalary = 0;
    var salarysheet = await _salaryrepos.GetAllSalarySheetAsync();
    var salary = salarysheet.Where(x => x.EmployeeId ==Model.EmployeeId).ToList();
    var advancesalary = salarysheet.Where(x => x.EmployeeId == Model.EmployeeId && x.IsAdvance == true).ToList();
}
@using FiboInfraStructure;
@inject Payroll.InfraStructure.Repository.ISalarySheetRepository _salaryrepos;
@inject Payroll.InfraStructure.Repository.IEmployeeRepository _employeerepos;
<form asp-action="AdvanceSalary" asp-controller="Employee" method="post" class="needs-validation" novalidate>
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <input type="hidden"asp-for="EmployeeId" />
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Advance Salary</h4>
                    <hr />
                </div>
                <div class="card-body">
                    <div>
                        @foreach (var item in advancesalary)
                        {
                            _advsalary += item.AdvanceSalary.ToDecimal();
                        }
                        @if (_advsalary > 0)
                        {
                            <label style="color:red">Advance Salary=</label>
                            <label>@_advsalary</label>
                        }

                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="EmployeeId">Employee Name<span style="color:red">*</span></label><br />
                                <select asp-for="EmployeeId" asp-items="Model.EmployeeList" class="select2 custom-select form-control" id="EmployeeId"disabled required></select>
                            </div>

                            <div class="col-lg-6">
                                <label for="SalaryId">Salary<span style="color:red">*</span></label><br />
                                <input asp-for="BasicSalary" class="form-control" id="SalaryId" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Amount<span style="color:red">*</span></label><br />
                                <input asp-for="AdvanceSalary" class="form-control" id="SalaryId" required />
                            </div>

                            <div class="col-lg-6">
                                <label>Due Date<span style="color:red">*</span></label><br />
                                <input type="text" asp-for="DueDate" class="form-control nepali-datepicker" id="AdvanceDate" required autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Partial Deduction<span style="color:red">*</span></label><br />
                                <input asp-for="PartiallyDeducted" class="form-control"readonly id="SalaryId" required />
                            </div>
                        </div>
                    </div>
                </div><div class="card-footer">
                    <div class="form-group">
                        <div class="col-md-12" style="text-align:right">
                            <button type="submit" class="btn  btn-success" id="btnSubmit"><i class="feather mr-2 icon-check-square"></i>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</form>