@model Payroll.Src.Dto.EmployeeDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}

<form asp-action="Create" asp-controller="Employee" method="post" class="needs-validation" novalidate>
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Employee Create</h4>
                    <hr />
                </div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="Name">Name<span style="color:red">*</span></label><br />
                                <input type="text" asp-for="Name" class="form-control" id="Name" required autocomplete="off" />
                                <div class="invalid-feedback">
                                    Please Enter A Name.
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="Name">Basic Salary<span style="color:red">*</span></label><br />
                                <input type="text" asp-for="BasicSalary" class="form-control" id="Name" required autocomplete="off" />
                                <div class="invalid-feedback">
                                    Please Enter A Name.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="PhoneNo">Phone No<span style="color:red">*</span></label><br />
                                <input type="text" asp-for="PhoneNumber" class="form-control" id="PhoneNo" required autocomplete="off" />
                                <div class="invalid-feedback">
                                    Please Enter A Phone No.
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="Email">Email<span style="color:red">*</span></label><br />
                                <input type="text" asp-for="Email" class="form-control" id="Email" required autocomplete="off" />
                                <div class="invalid-feedback">
                                    Please Enter A Email.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="PostId">Post<span style="color:red">*</span></label><br />
                                <select asp-for="PostId" asp-items="Model.PostList" class="select2 custom-select form-control" id="PostId" required></select>
                                <div class="invalid-feedback">
                                    Please Enter A Post.
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="ProvienceId">Provience<span style="color:red">*</span></label><br />
                                <select asp-for="ProvienceId" asp-items="Model.ProvienceList" class="select2 form-control custom-select" id="ProvienceId" required></select>
                                <div class="invalid-feedback">
                                    Please Enter A Provience.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="DistrictId">District<span style="color:red">*</span></label><br />
                                <select asp-for="DistrictId" asp-items="Model.DistrictList" class="select2 form-control custom-select" id="DistrictId" required></select>
                                <div class="invalid-feedback">
                                    Please Enter A District.
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="LocalLevelId">Local Level<span style="color:red">*</span></label><br />
                                <select asp-for="LocalLevelId" asp-items="Model.LocalLevelList" class="select2 form-control custom-select" id="LocalLevelId" required></select>
                                <div class="invalid-feedback">
                                    Please Enter A Local Level.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="WardNumber">Ward Number<span style="color:red">*</span></label><br />
                                <input type="text" asp-for="WardNumber" class="form-control" id="WardNumber" required autocomplete="off" />
                                <div class="invalid-feedback">
                                    Please Enter A Ward Number.
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="WardNumber">Tds(%)<span style="color:red">*</span></label><br />
                                <input type="text" asp-for="TDS" class="form-control" id="WardNumber" required autocomplete="off" />
                                <div class="invalid-feedback">
                                    Please Enter A Ward Number.
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                   
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <div class="col-md-12" style="text-align:right">
                            <button type="submit" class="btn  btn-success" id="btnSubmit"><i class="feather mr-2 icon-check-square"></i>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
